				/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
	-------------------------------------------------------------- */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
	  background: transparent;
	  border: 0;
	  margin: 0;
	  padding: 0;
	  vertical-align: baseline; }
	
/*	body {
	  line-height: 1; }*/
	
	h1, h2, h3, h4, h5, h6 {
	  clear: both;
	  font-weight: normal; }
	
	ol, ul {
	  list-style: none; }
	
	blockquote {
	  quotes: none; }
	
	blockquote:before, blockquote:after {
	  content: '';
	  content: none; }
	
	del {
	  text-decoration: line-through; }
	
	/* tables still need 'cellspacing="0"' in the markup */
	#tablehead{
				font-weight: bold;
				text-align: center;
			}
   	  table{
   	  			background:gray;
				border-collapse: collapse;
				border: 2px solid grey;				
			}
			th, td {
				padding: 10px;
				text-align: center;
			}		a img {
	  border: none; }
	  
	 /*table css*/
	 
	/*  #tablehead{
				font-weight: bold;
				text-align: center;
			}
			table{
				border-collapse: collapse;
				border: 2px solid grey;				
			}
			th, td {
				padding: 10px;
				text-align: center;
			}	 */
	/* =Scss Variables
	-------------------------------------------------------------- */
	/* =Global
	-------------------------------------------------------------- */
	*,
	*:before,
	*:after {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box; }
	
	body {
	/*  background-color: #3cb5f9;*/
	 
	/*  color: #505050;*/
	  font-family: "Ubuntu", sans-serif; 
	  font-weight: 300; 
	  background-position: 250px 50px;
 	  font-size: 16px; 
 	  line-height: 1.8;
 	  	background-size: cover;
 	/*  	background-repeat:no-repeat;*/
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-attachment: fixed;
 	   } 
	
	/* Headings */
	h1, h2, h3, h4, h5, h6 {
	  line-height: 1;
	  font-weight: 300; }
	
	a {
	  text-decoration: none;
	  color: #3cb5f9; }
	
	a:hover {
	  color: #0793e2; }
	
	/* =Template
	-------------------------------------------------------------- */
	
	 #wrapper { 
	   width: 100%; 
		    margin: 0 auto;  } 
	
	#main { 
		background-color: #fff;
		 
		 padding-top: 150px; }
	
	
	#leftside{
				top:0%;
				left:0%;
				width:20%;
				height:100%;
				position: fixed;
				 float:left;
				/* background-color:#ffdab9; */
				background-color:#643d01;
			}
	#rightside{
			`	
				text-align:right;
				position:absolute;
				left:20%;	
				right:0%;	
				 height:auto;
/* 				 min-height: 100%;  */
			/*	background-color:#FFFACD;*/
/* 				background-color:aqua; */
			/*background-image:url("images/frontpage.jpg");*/
			}
	
	/* =Header
	-------------------------------------------------------------- */
	header {
	  width: 100%;
	  height: 150px;
	  overflow: hidden;
	  position: fixed;
	  top: 0;
	  left: 0;
	  z-index: 999;
	  background-color:#778899;
		/* background-color: #0683c9;*/
	  -webkit-transition: height 0.3s;
	  -moz-transition: height 0.3s;
	  -ms-transition: height 0.3s;
	  -o-transition: height 0.3s;
	  transition: height 0.3s; }
	  header h1#logo {
	    display: inline-block;
	    height: 150px;
	    line-height: 150px;
	    float: left;
	    font-family: "Oswald", sans-serif;
	    font-size: 60px;
	    color: white;
	    font-weight: 400;
	    -webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s; }
	  header nav {
	    display: inline-block;
	    float: right; }
	    header nav a {
	      line-height: 150px;
	      margin-left: 20px;
	      color: #9fdbfc;
	      font-weight: 700;
	      font-size: 18px;
	      -webkit-transition: all 0.3s;
	      -moz-transition: all 0.3s;
	      -ms-transition: all 0.3s;
	      -o-transition: all 0.3s;
	      transition: all 0.3s; }
	      header nav a:hover {
	        color: white; }
	  header.smaller {
	    height: 75px; }
	    header.smaller h1#logo {
	      width: 200px;
	      height: 75px;
	      line-height: 75px;
	      font-size: 30px; }
	    header.smaller nav a {
	      line-height: 75px; }
	
	/* =Footer
	-------------------------------------------------------------- */
	/* =Extras
	-------------------------------------------------------------- */
	.clearfix:after {
	  visibility: hidden;
	  display: block;
	  content: "";
	  clear: both;
	  height: 0; }
	
	
	/*
		dropdown content
	*/
	
	.dropbtn {
    display: inline-block;
    color: #9fdbfc;
    text-align: center;
    padding:inherit;
    text-decoration: none;
}

	.dropdown:hover .dropbtn {
			   color: white;
			}

.dropdown {
    display:inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

	/* Drop Right Menu */
	
	.cl-menu li
		{
			position: relative;
		}
		
		.cl-menu > li:hover
		{
			font-weight:bold;
			opacity:1;
			filter:alpha(opacity=100);
		
		}
		
		.cl-menu li:hover
		{
			background-color:#66819C
			
		}
		
		.cl-menu li a
		{
			display:block;
			min-width:150px;
			padding:10px;
			color:#CEF6F5;
			font-family:'Rancho',cursive;
		}
		
		.cl-menu li:hover a
		{
			color:#FFF;
		
		
		}
		
		.cl-menu li ul
		{
			position: absolute;
			top:0;
			left:100%;
			border:1px solid #000;
				-moz-border-radius:5px;
				-webkit-border-radius:5px;
				border-radius:5px;
				display:none;
		
		}
		
		.cl-menu li:hover > ul
		{
			display:block;
			opacity:0.8;
			filter:alpha(opacity=80);
			
		}
		
		.cl-menu li ul li
		{
			background:grey;
				border-bottom:1px solid #000;
			border-top:none;
			border-left:none;
			border-right:none;
			
		
		}
		
		.cl-menu li ul li:last-child
		{
			border-bottom:none;
		
		}

	/* =Media Queries
	-------------------------------------------------------------- */
	@media all and (max-width: 660px) {
	  /* =Header
	  -------------------------------------------------------------- */
	  header h1#logo {
	    display: block;
	    float: none;
	    margin: 0 auto;
	    height: 100px;
	    line-height: 100px;
	    text-align: center; }
	  header nav {
	    display: block;
	    float: none;
	    height: 50px;
	    text-align: center;
	    margin: 0 auto; }
	    header nav a {
	      line-height: 50px;
	      margin: 0 10px; }
	  header.smaller {
	    height: 75px; }
	    header.smaller h1#logo {
	      height: 40px;
	      line-height: 40px;
	      font-size: 30px; }
	    header.smaller nav {
	      height: 35px; }
	      header.smaller nav a {
	        line-height: 35px; } }
	@media all and (max-width: 600px) {
	  .container {
	    width: 100%; }
	} 
	
